html, body {
    margin: 0;
}
.paint {
    border-style: double;
    border-width: 25px;
    padding: 3px;
    border-color: brown;
}
.reset {
    z-index: 4;
    margin: 0px auto;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 150px;
    height: 65px;
}
button {
    z-index: 4;
    text-align: center;
    font-size: medium;
    left:50%;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 75px;
    border-radius: 25px;
    border: none;
    background: #7ea078;

}
#restart {
    background-position: center;
    transition: background 0.8s;
}
#restart:hover {
    background: #4bdf6b radial-gradient(circle, transparent 1%, #98f590 1%) center/15000%;
    cursor: pointer;
}
#restart:active {
    background-color: #bfdfbc;
    background-size: 100%;
    transition: background 0s;
  }
